<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Moke smoke</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.8.1</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Need to access your camera to scan a QR-CODE.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>To track the number of steps and increase motivation to quit smoking.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>To track the number of steps and increase motivation to quit smoking.</string>
	<key>NSMotionUsageDescription</key>
	<string>To track the number of steps and increase motivation to quit smoking, the Moke Smoke app requests access to the motion sensor on your device.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To update the photo, access to your photo library is required. We ensure the security and confidentiality of your data and do not transfer them to third parties.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
